# macOS
.DS_Store

# TLA+ Toolbox
## Ignore generated PDFs
*.pdf
## Do not ignore the relevant model files/folders
/*.toolbox/*
!/*.toolbox/
!/*.toolbox/.project
!/*.toolbox/*.launch
## Ignore everything in .settings/ except the pref file
/*.toolbox/.settings/*
!/*.toolbox/.settings/
!/*.toolbox/.settings/org.lamport.tla.toolbox.prefs

